<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue JS Todo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="vue.js"></script>
</head>
<body>
  <div id="root"> 
    First Name: 
    <input v-model="firstName" type="text" />
    Last Name: 
    <input v-model="lastName" type="text" />
    <h1>Full Name Use Computed: {{ fullName }}</h1>
    <h1>Full Name Use Method: {{ fullName2() }}</h1>
    <h1>Full Name Use Watch: {{ fullName3 }}</h1>
    <h1>{{ age }}</h1>
  </div>

  <script>
    // 生命周期函数就是vue实例在某一个时间点会自动执行的函数
    var vm = new Vue({
        el: "#root",
        // no template -> go to html to find <div id="root">
        data: {
          firstName: '',
          lastName: '',
          fullName3: '',
          age: 25
        },
        methods: {
          fullName2: function(){
            console.log('method计算了一次')
            return this.firstName + ' ' + this.lastName;
          }
        },
        computed: {
          fullName: function(){
            console.log('computed计算了一次')
            return this.firstName + ' ' + this.lastName;
          }
        },
        watch: {
          firstName: function(){
            console.log('watch计算了一次')
            this.fullName3 = this.firstName + " " + this.lastName;
          },
          lastName: function(){
            console.log('watch计算了一次')
            this.fullName3 = this.firstName+ " " + this.lastName
          }
        }
    })  
  
  </script>
</body>
</html>