<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Slot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="vue.js"></script>
  <style>
    .activated {
      color: yellowgreen;
    }
  </style>
</head>
<body>
  <div id="root">
    <body-content>
      <div class="header" slot='header'>Header</div>
      <template slot-scope="props" slot="list">
        <h3>{{ props.item }} - {{ props.word }}</h3>
      </template>
      <div class="footer" slot='footer' slot-scope="slotProps">Footer {{ slotProps.words }}</div>
    </body-content>
      <slot-component>
        <template slot-scope="slotProps" slot="dayList">
          {{ slotProps.day }} - {{ slotProps.keyword }}
        </template>
      </slot-component>
  </div>

  <script>
    Vue.prototype.bus = new Vue()

    Vue.component('slot-component', {
      template: `
                  <ul>
                    <li
                    v-for="day in dayList"
                    >
                    <slot :day="day" :keyword="keyword" name="dayList">
                    </slot>
                    </li>
                  </ul>
                `,
      data() {
        return {
          dayList: ['monday','tuesday','wednesday', 'thursday'],
          keyword: 'this is a key'
        }
      }
    })

    Vue.component('body-content', {
      data: function(){
        return {
          list: [1,2,3,4],
          words: 'Hello'
        }
      },
      template: `<div>
                   <slot>
                    <h1>Default Slot</h1>
                   </slot>
                   <slot name='header'></slot>
                   <div class="content">Content</div>
                      <slot v-for="item of list" :item=item :word=words name="list">
                        {{ item }}
                      </slot>  
                   <slot name='footer' :words="words"></slot>
                 </div>`,
    })

    var mixin = {
      created: function() {
        console.log('Mixin created called');
      },
      data: {
        info: 'this is info',
        text: 'this is text'
      }
    }
    
    var vm = new Vue({
      mixins: [mixin],
      el: "#root",
      data:{
        text: 'overwrite text'
      },
      created: function() {
        console.log('Root created');
      },
      
      template: `<div><p>{{ text }}</p><p>{{ info }}</p></div>`
        
    })
  
  </script>
</body>
</html>