<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue - once</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="vue.js"></script>
  <style>
    .activated {
      color: yellowgreen;
    }
  </style>
</head>
<body>
  <div id="root">
    <body-content1 v-if="type === 'child-one'">
      
    </body-content1>
    <body-content2 v-if="type === 'child-two'">
      
    </body-content2>
    <!-- 动态组件 -->
    <component :is="type"></component>
    <button @click="hanldeClick">Change</button>
  </div>
  <script>

    Vue.component('body-content1', {
      template: '<div v-once>Child-one</div>'
    })

    Vue.component('body-content2', {
      template: '<div v-once>Child-two</div>'
    })
    
    var vm = new Vue({
        el: "#root",
       data:{
         type: 'body-content1'
       },
       methods: {
          hanldeClick:function(){
            this.type = this.type === 'body-content1' ? 'body-content2' : 'body-content1'
          }
       }
        
    })  
  
  </script>
</body>
</html>