<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue JS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="vue.js"></script>
</head>
<body>
  <div id="root"> 
    <h1>@click Method</h1>
    <h3 @click="handleClick"> {{ msg }}</h3>
    <h1>V-text and V-html</h1>
    <div v-text="content"></div>
    <div v-html="content"></div>
    <h1>Variable and bind(model)</h1>
    <div :title="'Nan ' +title">Hello World</div>
    <input v-model="input" type="text">
    <div>{{ input }}</div>
    firstName: <input v-model="firstName" type="text" />
    lastName: <input v-model="lastName" type="text" />
    <div>{{ fullName }}</div>
    <h2>{{ count }}</h2>
    <h1>V-if and V-show</h1>
    <div v-if="show">V-If</div>
    <div v-show="show">V-show</div>
    <button @click="showClick">Toggle</button>
    <h1>V-for</h1>
    <ul>
      <li v-for=" (item, index) of list" :key="index">{{ item }}</li>
    </ul>
    <custom-input placeholder="试试看吧!" type="password"></custom-input>
    <check-box :checked="loveVue"></check-box>
    <nested-input v-model="nestedValue"  @on-focus="focused"></nested-input>
  </div>

  

  <script>
    Vue.component('custom-input', {
      inheritAttrs: false,
      template: `<label> 请输入用户名: <input v-bind="$attrs" :value="value" @input="$emit('input', $event.target.value)"> </label>`,
      data() {
        return {
          value: ''
        }
      }
    })


    Vue.component('nested-input', {
      inheritAttrs: false,
      template: `<label> 请输入密码: <input v-on="inputListeners" :nestedValue="nestedValue"> </label>`,
      props: {
        nestedValue: ''
      },
      computed: {
        inputListeners() {
          var vm = this
          return Object.assign({}, this.$listeners, {
            input(event) {
              vm.$emit('input', event.target.value)
            },
            blur() {
              console.log('Bluring')
            },
            focus() {
              console.log('Focus overwrited')
            }
          })
        }
      },
      methods: {
        onFocus() {
          this.$emit('on-focus')
        }
      }
    })


    Vue.component('checkBox', {
      template: `<input :checked="checked" type="checkbox" @change="$emit('change', $event.target.checked)">`,
      model: {
        props: 'checked',
        event: 'change'
      },
      props: {
        checked: Boolean
      }
    })

    new Vue({
        el: "#root",
        data: {
          msg: "Hello",
          num: 123,
          content: "<h3>Test v-text and v-html</h3>",
          title: "this is hello world",
          input: "this is input",
          firstName: '',
          lastName: '',
          count: 0,
          show: false,
          list: [1,2,3],
          loveVue: false,
          nestedValue: ''
        },
        methods: {
          handleClick : function(){
            this.msg =  "World"
          },
          showClick: function(){
            this.show = !this.show;
          },
          focused() {
            console.log('Input focus')
          }
        },
        computed: {
          fullName: function(){
            return this.firstName+ ' ' + this.lastName
          }
        },
        watch: {
          fullName: function(){
            this.count++;
          }
        }
    })  
  </script>
</body>
</html>