<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue JS Todo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="./../vue.js"></script>

  <style>

  </style>
</head>

<body>
    <div id="app">
        <h1>Vue todo</h1>
        <input type="text" v-model="inputTodo" @keyup.enter="addTodo" autofocus>
        <ul>
            <li v-for="todo in todos" @dblClick="removeTodo(todo)">{{ todo }}</li>
        </ul>
        <p>Double Click to remove todo</p>
    </div>
  <script>
    var app = new Vue({
        el: '#app',
        data: {
            inputTodo: '',
            todos: []
        },
        methods: {
            addTodo: function() {
                this.todos.push(this.inputTodo)
                this.inputTodo = ''
            },
            removeTodo: function(todo) {
                this.todos.splice(this.todos.indexOf(todo), 1)
            }
        }
    })
  </script>
</body>

</html>