<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
  <script src="../../vue.js"></script>
  <title>Hook </title>
</head>
<body>
  
  <div id="root" class="container">
    <form action="" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
      <div class="control">
        <label for="name" class="label">Porject Name:</label>

        <input type="text" id="name" name="name" class="input" v-model="form.name">

        <span class="help is-danger" v-if="errors.has('name')" v-text="form.errors.get('name')"></span>
      </div>

      <div class="control">
        <label for="description" class="label">Project Description:</label>

        <input type="text" id="description" name="description" class="input" v-model="form.description">

        <span class="help is-danger" v-if="form.errors.has('description')" v-text="errors.get('description')"></span>
      </div>

      <div class="control">
        <button class="button is-primary" :disable="form.errors.any()">Create</button>
      </div>
    </form>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="app.js"></script>
</body>
</html>